@font-face {
    font-family: 'Jaldi';
    src: url(/assets/fonts/Jaldi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jaldi';
    src: url(/assets/fonts/Jaldi-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: bold;
}